<div class="custom-toast @background">
    <div class="toast-icon-container">
        <i class="@icon"></i>
    </div>
    <div class="toast-body-container">
        <h5>@title</h5>
        <p>@Message</p>
    </div>
    <div class="toast-action-container">
        <i class="bi-pause-circle" @onclick="Pause"></i>
        <i class="bi-x-circle" @onclick="Close"></i>
    </div>
</div>
