<div class="custom-toast @background" @onclick="Close">
    <div style="display:flex; flex-direction: column; justify-content: center; padding: 0 1rem; font-size:2.5rem;">
        <i class="@icon"></i>
    </div>
    <div style="display:flex; flex-direction:column; flex:1; padding-left:1rem;">
        <h5>@title</h5>
        <p style="margin-bottom:0;">@Message</p>
    </div>
</div>
