<div class="custom-toast @background">
    <div style="display:flex; flex-direction: column; justify-content: center; padding: 0 1rem; font-size:2.5rem;">
        <i class="@icon"></i>
    </div>
    <div style="display:flex; flex-direction:column; flex:1; padding-left:1rem;">
        <h5>@title</h5>
        <p style="margin-bottom:0;">@Message</p>
    </div>
    <div style="display:flex; flex-direction:row; justify-content:center; font-size:1.5rem;">
        <i style="cursor:pointer" class="bi-x-circle" @onclick="Close"></i>
    </div>
</div>
